
<div class="jumbotron text-center">
  <h1>Create Travel Itinerary</h1>
  
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4 full-size">
      <div id="map"><p>Loading Map...</p><i class="fa fa-spin fa-th-large fa-refresh" aria-hidden="true"></i></div>
    </div>
    
    <div class="col-sm-5 full-size">
     <form>
       <input id="gmapkey" name="prodId" type="hidden" value={{gmapkey}}>
      <label for="city">City:</label>
      
      <input type="text" class="form-control" id="city">
      
      <select name="mydropdown" id="venue">
      <option value="bars">Bars</option>
      <option value="museums">Museums</option>
      <option value="restaurants">Restaurants</option>
      <option value="tours">Tours</option>
      <option value="museums">Museums</option>
      <option value="parks">Parks</option>

      </select>
        <br/>
       <button type="submit" class="btn btn-primary">Find</button>
     </form>
    </div>
    <div id="results" class="col-sm-6 results clearfix ">
      <table class="table-striped ">
        <tr><th>Venue</th><th>Address</th></tr>
        <tr><td>Slow Jam</td><td>800 North Point St</td></tr>
        <tr><td>Boulevard Restaurant</td><td>1 Mission St</td></tr>
        <tr><td>Nopa</td><td>560 Divisadero St</td></tr>
        <tr><td>Burma Superstar</td><td>309 Clement St</td></tr>
        <tr><td>Kokkari Estiatorio</td><td>200 Jackson St</td></tr>
      </table>
    </div>
  </div>
</div> 

    <script>
      var map;
      navigator.geolocation.getCurrentPosition((position)=>{
            console.log(position.coords.latitude)
            console.log(position.coords.longitude)
            charge(position.coords.latitude, position.coords.longitude)
            
      })

      function charge(curlat, curlong) {

        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: curlat, lng: curlong},
          zoom: 15
        });
      }

    </script>
    <script src="{{mapLocation}}"
    async defer></script>