<div class="jumbotron text-center">
  <h1>Create Travel Itinerary</h1>
</div>
<div></div>
<div class="container">
  <div class="row">

    <!-- Venue Modal -->
    <div class="venue-detail">
      <a href="javascript:void(0)" class="ui-close">
        <i onclick="hideVenueDetail();" class="fa fa-times" aria-hidden="true"></i>
      </a>

      <!-- Venue Information -->
      <div class="venue-info">

      </div>
      <!-- map --> 
      <div class="col-sm-4 map-container">
        <div id="map" data-lat="{{mapInitialCoords.lat}}" data-lng="{{mapInitialCoords.lng}}">
          <p>Loading Map...</p>
          <i class="fa fa-spin fa-th-large fa-refresh" aria-hidden="true"></i>
        </div>
      </div>
    </div>

    <!-- Add Itinerary Modal -->
    <div class="add-itin-modal">
        <a href="javascript:void(0)" class="ui-close">
          <i onclick="hideItin();" class="fa fa-times" aria-hidden="true"></i>
        </a>
        <h3 class="itin-title"></h3>
        <form class="form-add-itinerary">
          <input type="text" name="date" id="itin-field-date" class="form-control no-border itin-date" placeholder="Date">
          <input type="text" name="time" id="itin-field-time" class="form-control no-border itin-time" placeholder="Time">
          <input type='submit' value="Add to Itinerary"/>
        </form>

    </div>
    
    <div class="col-sm-12 search-container">

      <form class="col-sm-12 search-form">
        <input id="gmapkey" name="prodId" type="hidden" value={{gmapkey}}>
        <input type="text" class="form-control query" id="query">
        <button type="button" class="btn btn-primary" onclick="return pointOfInterestSearch();">Find</button>
      </form>
    </div>
    <div id="results" class="col-xs-12 results clearfix ">
      <!-- Venue Results are placed in here -->
    </div>
  </div>
</div> 

    <script>
      var map;

      function initMap() {
        initialLocation = {lat:37.810548, lng:-122.477041}
        
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 9,
          center: initialLocation
        });
        mapMarker = new google.maps.Marker({
          position: initialLocation,
          map: map
        });
      }
    </script>

    <script src="{{mapWebAPILocation}}"
    async defer></script>