
<div class="jumbotron text-center">
  <h1>Create Travel Itinerary</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4 full-size">
      <div id="map" data-lat="{{mapInitialCoords.lat}}" data-lng="{{mapInitialCoords.lng}}"><p>Loading Map...</p><i class="fa fa-spin fa-th-large fa-refresh" aria-hidden="true"></i></div>
    </div>
    
    <div class="col-sm-5 full-size">
     <form>
       
      <input id="gmapkey" name="prodId" type="hidden" value={{gmapkey}}>
      <label for="city">City:</label>
      
      <input type="text" class="form-control" id="city">
      
      <select name="mydropdown" id="venue">
      <option value="bars">Bars</option>
      <option value="museums">Museums</option>
      <option value="restaurants">Restaurants</option>
      <option value="tours">Tours</option>
      <option value="museums">Museums</option>
      <option value="parks">Parks</option>

      </select>
        <br/>
       <button type="button" class="btn btn-primary" onclick="return searchInCity();">Find</button>
     </form>
    </div>
    <div id="results" class="col-xs-12 results clearfix ">
      hello
    </div>
  </div>
</div> 

    <script>
      var map;

      function initMap() {
        initialLocation = {lat:37.810548, lng:-122.477041}
        
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 9,
          center: initialLocation
        });
        var marker = new google.maps.Marker({
          position: initialLocation,
          map: map
        });
      }
    </script>

    <script src="{{mapWebAPILocation}}"
    async defer></script>