<div style="overflow-x: hidden">
<!--NAVBAR -->
<nav class="navbar navbar-expand-lg fixed-top navbar-warning nav-down" color-on-scroll="500">
    <div class="container-fluid">
        <div class="navbar-translate">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <img class="house" alt="Brand" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGhlaWdodD0iMTZweCIgaWQ9IkxheWVyXzEiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDE2IDE2OyIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMTYgMTYiIHdpZHRoPSIxNnB4IiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48cGF0aCBkPSJNMTUuNDUsN0wxNCw1LjU1MVYyYzAtMC41NS0wLjQ1LTEtMS0xaC0xYy0wLjU1LDAtMSwwLjQ1LTEsMXYwLjU1M0w5LDAuNTU1QzguNzI3LDAuMjk3LDguNDc3LDAsOCwwUzcuMjczLDAuMjk3LDcsMC41NTUgIEwwLjU1LDdDMC4yMzgsNy4zMjUsMCw3LjU2MiwwLDhjMCwwLjU2MywwLjQzMiwxLDEsMWgxdjZjMCwwLjU1LDAuNDUsMSwxLDFoM3YtNWMwLTAuNTUsMC40NS0xLDEtMWgyYzAuNTUsMCwxLDAuNDUsMSwxdjVoMyAgYzAuNTUsMCwxLTAuNDUsMS0xVjloMWMwLjU2OCwwLDEtMC40MzcsMS0xQzE2LDcuNTYyLDE1Ljc2Miw3LjMyNSwxNS40NSw3eiIvPjwvc3ZnPg==">
                    </a>
                </div>
            </div>

            <!--SLIDE NAV-->
            <button style="color: black" class="navbar-toggler navbar-burger" type="button" data-toggle="collapse-main"
                    data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/explore" data-scroll="true" style="color: #000000;">Explore</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup" data-scroll="true"
                       style="color: #000000;">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login" data-scroll="true"
                       style="color: #000000;">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--  Parallax -->
<div class="page-header" data-parallax='true'>
    <div id="explore" class="full-bg-img">
        <div class="container">
            <div id="down" class="d-flex align-items-center d-flex justify-content-center" style="height: 1000px; padding-top: 700px;">
                <div class="row mt-5">
                    <div class="col-md-12 wow fadeIn mb-3">
                        <div class="container">
                            <section id="down" class="down">
                            <a href="#section1"><span></span></a>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Section 1 -->
<div id="section1" class="blog-4">
           <div class="container">
               <div class="row">
                   <div class="col-md-8 offset-md-2">
                       <h2 class="title pin text-center" style="font-size: 60px">Explore for new adventures</h2>
                       <br />
                   </div>
               </div>
               <div class="row">
                   <div class="col-md-6">
                       <div class="card card-plain card-blog text-center">
                           <div class="card-image">
                               <a href="#">
                                   <img id="sf" class="img img-raised" src="/img/sanfr.jpeg" />
                               </a>
                           </div>
                           <div class="card-block">
                               <h6 class="card-category text-warning">Tourism</h6>
                               <h3 class="card-title"> Discover the best tourism points</h3>
                               <p class="card-description">
                                   Explore the world around you and find the best attractions in town. Atlas Guide provide you with a list of adventures to explore, museums, concerts and events.
                               </p>
                               <br/>
                               <a  id="advanture" href="#" class="btn btn-warning btn-tr">Read More</a>
                           </div>
                       </div>
                   </div>
                   <div class="col-md-6">
                       <div class="card card-plain card-blog text-center">
                           <br></br>
                           <div class="card-image">
                               <a href="#">
                                   <img id="drink" class="img img-raised" src="img/drinks.jpeg" />
                               </a>
                           </div>
                           <div class="card-block">
                               <h6 class="card-category text-warning">Nightlife</h6>
                               <h3 class="card-title">Find a variety of nightlife activities</h3>
                               <p class="card-description">
                                   Here you will find recommendations from travelers all over the world. Find recommendations for everything from the top bars and dance clubs to guided night tours.
                               </p>
                                <br>
                               <a id="advanture" href="#" class="btn btn-warning btn-tr"> Read More</a>
                                </br>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="row">
                   <div class="col-md-6">
                       <div class="card card-plain card-blog text-center">
                           <br></br>
                           <div class="card-image">
                               <a href="#">
                                   <img id="restaurant" class="img img-raised" src="img/restaurant.jpeg" />
                               </a>
                           </div>
                           <div class="card-block">
                               <h6 class="card-category text-warning">Lifestyle</h6>
                               <h3 class="card-title">Degust the best restaurants</h3>
                               <p class="card-description">
                                   Find a variety of local cuisine near you. Discover some of the best sushi bar, italian food, steakhouses and others. Search according to your budget, neighborhood, diet - whatever your preference, we got you covered.
                               </p>
                               <br/>
                               <a id="advanture" href="#" class="btn btn-warning btn-tr"> Read More</a>
                               <br></br>
                           </div>
                       </div>
                   </div>
                   <div class="col-md-6">
                       <div class="card card-plain card-blog text-center">
                           <br></br>
                           <div class="card-image">
                               <a href="#">
                                   <img  id="tour" class="img img-raised" src="img/tour.jpeg" />
                               </a>
                           </div>
                           <div class="card-block">
                               <h6 class="card-category text-warning">Tour-Share</h6>
                               <h3 class="card-title">Take your Tours experiences to a new level.</h3>
                               <p class="card-description">
                                   Get the best prices and tours all over the world. With the Tour-Share option you can get the best tours and experiences for less.
                               </p>
                               <br/>
                               <a id="advanture" href="#" class="btn btn-warning btn-tr"> Read More</a>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>

<!-- Second Section -->
       <div class="section-2">
                   <div class="container">
                       <div class="row">
           				<div class="col-md-8 offset-md-2 text-center">
           					<h4 class="title">You life will be much easier</h4>
           					<h2 class="description">Live with no excuses and travel with no regrets. The world is a book full of adventures, never stop exploring. Atlas Guide provides the full experience for you and your family.</h2>
                               <br/>
                           </div>
           			</div>
                       <div class="row">
                           <div class="col-md-4">
                               <div id="tour-cards" class="card card-tour" data-background="image" style="background-image: url('img/napa.jpeg')">
       							<div class="card-block">
       								<h6 class="card-category">Tour to Napa</h6>
                                       <div class="card-icon">
       									<i class="nc-icon nc-world-2"></i>
       								</div>
                                       <p class="card-description">Unlike fashionable design, it lasts many years – even in today’s throwaway society.</p>

                                       <div class="card-footer">
                                           <a href="#pablo" class="btn btn-link btn-neutral">
                                               <i class="fa fa-book" aria-hidden="true"></i> Show more
                                           </a>
                                       </div>
       							</div>
       						</div>
                           </div>
                           <div class="col-md-4">
                               <div class="card" data-background="image" style="background-image: url('assets/img/sections/anders-jilden.jpg')">
       							<div class="card-block">
       								<h6 class="card-category">UI Kits</h6>
                                       <div class="card-icon">
       									<i class="nc-icon nc-single-copy-04"></i>
       								</div>
                                       <p class="card-description">Imagine if you could go to the profile of a friend and instead of scrolling through...</p>

                                       <div class="card-footer">
                                           <a href="#pablo" class="btn btn-link btn-neutral">
                                               <i class="fa fa-book" aria-hidden="true"></i> Show more
                                           </a>
                                       </div>
       							</div>
       						</div>
                           </div>
                           <div class="col-md-4">
                               <div class="card" data-background="image" style="background-image: url('assets/img/sections/uriel-soberanes.jpg')">
       							<div class="card-block">
       								<h6 class="card-category">Development</h6>
                                       <div class="card-icon">
       									<i class="nc-icon nc-time-alarm"></i>
       								</div>
                                       <p class="card-description"> For starters, it seemed like a good idea to keep a running list of Vision investments.</p>

                                       <div class="card-footer">
                                           <a href="#pablo" class="btn btn-link btn-neutral">
                                               <i class="fa fa-book" aria-hidden="true"></i> Show more
                                           </a>
                                       </div>
                                       <br></br>
       							</div>
       						</div>
                           </div>
                       </div>
                   </div>
               </div>


<!-- FOOTER -->

    <footer class="footer section-dark">
        <div class="footer-copyright">
            <div class="footer-bar">
                <h6> © 2017  Atlas-Guide.me </h6>
                <a href="#" class="btn btn-just-icon btn-twitter" style="border-radius: 50%; border-style: solid; border-width: 2px; color: deepskyblue; background-color: transparent; border-color: #c0c0c0; height: 40px; width: 40px;padding: 8px"><i class="fa fa-twitter"></i></a>
                <a href="#" class="btn btn-just-icon btn-facebook" style="border-radius: 50%; border-style: solid; border-width: 2px; height: 40px; width: 40px;padding: 8px; color: #0B67E7; background-color: transparent;border-color: #c0c0c0;"><i class="fa fa-facebook"></i></a>
                <a href="#" class="btn btn-just-icon btn-instagram" style="border-radius: 50%; border-style: solid; border-width: 2px; height: 40px; width: 40px;padding: 8px ;color:#893dc2;background-color: transparent;border-color: #c0c0c0;"><i class="fa fa-instagram"></i></a>

            </div>
        </div>
    </footer>
</div>
