<div style="overflow-x: hidden">
<!--NAVBAR -->
<nav class="navbar navbar-expand-lg fixed-top navbar-warning nav-down" color-on-scroll="500">
    <div class="container-fluid">
        <div class="navbar-translate">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <img class="house" alt="Brand" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGhlaWdodD0iMTZweCIgaWQ9IkxheWVyXzEiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDE2IDE2OyIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMTYgMTYiIHdpZHRoPSIxNnB4IiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48cGF0aCBkPSJNMTUuNDUsN0wxNCw1LjU1MVYyYzAtMC41NS0wLjQ1LTEtMS0xaC0xYy0wLjU1LDAtMSwwLjQ1LTEsMXYwLjU1M0w5LDAuNTU1QzguNzI3LDAuMjk3LDguNDc3LDAsOCwwUzcuMjczLDAuMjk3LDcsMC41NTUgIEwwLjU1LDdDMC4yMzgsNy4zMjUsMCw3LjU2MiwwLDhjMCwwLjU2MywwLjQzMiwxLDEsMWgxdjZjMCwwLjU1LDAuNDUsMSwxLDFoM3YtNWMwLTAuNTUsMC40NS0xLDEtMWgyYzAuNTUsMCwxLDAuNDUsMSwxdjVoMyAgYzAuNTUsMCwxLTAuNDUsMS0xVjloMWMwLjU2OCwwLDEtMC40MzcsMS0xQzE2LDcuNTYyLDE1Ljc2Miw3LjMyNSwxNS40NSw3eiIvPjwvc3ZnPg==">
                    </a>
                </div>
            </div>

            <!--SLIDE NAV-->
            <button style="color: black" class="navbar-toggler navbar-burger" type="button" data-toggle="collapse-main"
                    data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/explore" data-scroll="true" style="color: #000000;">Explore</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup" data-scroll="true"
                       style="color: #000000;">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login" data-scroll="true"
                       style="color: #000000;">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Section 1 -->
<div class="blog-4">
           <div class="container">
               <div class="row">
                   <div class="col-md-8 offset-md-2">
                       <h2 class="title text-center">Latest Blogposts 4</h2>
                       <br />
                   </div>
               </div>
               <div class="row">
                   <div class="col-md-6">
                       <div class="card card-plain card-blog text-center">
                           <div class="card-image">
                               <a href="#pablo">
                                   <img class="img img-raised" src="assets/img/sections/val-vesa.jpg" />
                               </a>
                           </div>
                           <div class="card-block">
                               <h6 class="card-category text-warning">Travel</h6>
                               <h3 class="card-title">
                                   <a href="#pablo">Learning different cultures through travel</a>
                               </h3>
                               <p class="card-description">
                                   A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot.
                               </p>
                               <br/>
                               <a href="#pablo" class="btn btn-warning btn-round"> Read More</a>
                           </div>
                       </div>
                   </div>
                   <div class="col-md-6">
                       <div class="card card-plain card-blog text-center">
                           <div class="card-image">
                               <a href="#pablo">
                                   <img class="img img-raised" src="assets/img/sections/rodrigo-ardilha.jpg" />
                               </a>
                           </div>
                           <div class="card-block">
                               <h6 class="card-category text-info">Travel</h6>
                               <h3 class="card-title">
                                   <a href="#pablo">Kick-Ass ways to disappear like a Ninja!</a>
                               </h3>
                               <p class="card-description">
                                   In the end, the judge ruled that Levandowski could be brought in and examined, but that each question asked to him would be vetted in advance and should have some basis in evidence.
                               </p>
                               <br/>
                               <a href="#pablo" class="btn btn-primary btn-round"> Read More</a>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="row">
                   <div class="col-md-6">
                       <div class="card card-plain card-blog text-center">
                           <div class="card-image">
                               <a href="#pablo">
                                   <img class="img img-raised" src="assets/img/sections/federico-beccari.jpg" />
                               </a>
                           </div>
                           <div class="card-block">
                               <h6 class="card-category text-danger">Lifestyle</h6>
                               <h3 class="card-title">
                                   <a href="#pablo">We will breathe clean air and exercise</a>
                               </h3>
                               <p class="card-description">
                                   Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is too high for the beams and angle of the ceiling...
                               </p>
                               <br/>
                               <a href="#pablo" class="btn btn-danger btn-round"> Read More</a>
                           </div>
                       </div>
                   </div>
                   <div class="col-md-6">
                       <div class="card card-plain card-blog text-center">
                           <div class="card-image">
                               <a href="#pablo">
                                   <img class="img img-raised" src="assets/img/sections/pedro-lastra.jpg" />
                               </a>
                           </div>
                           <div class="card-block">
                               <h6 class="card-category text-success">Best Seller</h6>
                               <h3 class="card-title">
                                   <a href="#pablo">Readers Pick of The Month</a>
                               </h3>
                               <p class="card-description">
                                   “Raising equity is very expensive” In essence, it lets new consumer businesses apply to raise funding on its platform, and gives investors a new way to find and back those tricks to finance their growing businesses.
                               </p>
                               <br/>
                               <a href="#pablo" class="btn btn-success btn-round"> Read More</a>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>


       <div class="pricing-1 section">
            <div class="container">
    			<div class="row">
    				<div class="col-md-6 offset-md-3 text-center">
    					<h2 class="title">Pick the best plan for you</h2>
    					<h5 class="description">You have Free Unlimited Updates and Premium Support on each package.</h5>
    				</div>
    			</div>
                <div class="space-top"></div>
    			<div class="row">
                    <div class="col-md-3">
                        <div class="card card-pricing" data-color="orange">
							<div class="card-block">
								<div class="card-icon">
									<span class="icon-simple"><i class="nc-icon nc-basket"></i></span>
								</div>
								<h3 class="card-title">$199</h3>

								<p class="card-description">
									This is good if your company size is between 5 and 20 employees.
								</p>
                                <div class="card-footer">
                                    <a href="#pablo" class="btn btn-neutral btn-round">Choose Plan</a>
                                </div>
							</div>
						</div>
				    </div>

                    <div class="col-md-3">
                        <div class="card card-pricing" data-color="yellow">
							<div class="card-block">
								<div class="card-icon">
									<span class="icon-simple"><i class="nc-icon nc-watch-time"></i></span>
								</div>
								<h3 class="card-title">$249</h3>

								<p class="card-description">
									This is good if your company size is between 21 and 59 employees.
								</p>
                                <div class="card-footer">
                                    <a href="#pablo" class="btn btn-neutral btn-round">Choose Plan</a>
                                </div>
							</div>
						</div>
				    </div>

                    <div class="col-md-3">
                        <div class="card card-pricing" data-color="green">
							<div class="card-block">
								<div class="card-icon">
									<span class="icon-simple"><i class="nc-icon nc-settings"></i></span>
								</div>
								<h3 class="card-title">$359</h3>

								<p class="card-description">
									This is good if your company size is between 60 and 159 employees.
								</p>
                                <div class="card-footer">
                                    <a href="#pablo" class="btn btn-neutral btn-round">Choose Plan</a>
                                </div>
							</div>
						</div>
				    </div>

                    <div class="col-md-3">
                        <div class="card card-pricing" data-color="blue">
							<div class="card-block">
								<div class="card-icon">
									<span class="icon-simple"><i class="nc-icon nc-istanbul"></i></span>
								</div>
								<h3 class="card-title">$599</h3>

								<p class="card-description">
									This is good if your company size is between 160 and 299 employees.
								</p>
                                <div class="card-footer">
                                    <a href="#pablo" class="btn btn-neutral btn-round">Choose Plan</a>
                                </div>
							</div>
						</div>
				    </div>
    			</div>
		    </div>
        </div>

<!-- FOOTER -->

    <footer class="footer section-dark">
        <div class="footer-copyright">
            <div class="footer-bar">
                <h6> © 2017  Atlas-Guide.me </h6>
                <a href="#" class="btn btn-just-icon btn-twitter" style="border-radius: 50%; border-style: solid; border-width: 2px; color: deepskyblue; background-color: transparent; border-color: #c0c0c0; height: 40px; width: 40px;padding: 8px"><i class="fa fa-twitter"></i></a>
                <a href="#" class="btn btn-just-icon btn-facebook" style="border-radius: 50%; border-style: solid; border-width: 2px; height: 40px; width: 40px;padding: 8px; color: #0B67E7; background-color: transparent;border-color: #c0c0c0;"><i class="fa fa-facebook"></i></a>
                <a href="#" class="btn btn-just-icon btn-instagram" style="border-radius: 50%; border-style: solid; border-width: 2px; height: 40px; width: 40px;padding: 8px ;color:#893dc2;background-color: transparent;border-color: #c0c0c0;"><i class="fa fa-instagram"></i></a>

            </div>
        </div>
    </footer>
</div>
