<form action="/login" method="get">
    <div class="container">

        <label><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="username" required>

        <label><b>Password</b></label>
        <input type="text" placeholder="Enter Password" name="password" required>

        <button type="submit">Login</button>

    </div>
</form>
