<form action="POST">
    <div class="container">
        <label><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="uname" required>

        <label><b>Password</b></label>
