<div style="overflow-x: hidden">
<!--NAVBAR -->
<nav class="navbar navbar-expand-lg fixed-top navbar-warning nav-down" color-on-scroll="500">
    <div class="container-fluid">
        <div class="navbar-translate">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <img class="house" alt="Brand" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGhlaWdodD0iMTZweCIgaWQ9IkxheWVyXzEiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDE2IDE2OyIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMTYgMTYiIHdpZHRoPSIxNnB4IiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48cGF0aCBkPSJNMTUuNDUsN0wxNCw1LjU1MVYyYzAtMC41NS0wLjQ1LTEtMS0xaC0xYy0wLjU1LDAtMSwwLjQ1LTEsMXYwLjU1M0w5LDAuNTU1QzguNzI3LDAuMjk3LDguNDc3LDAsOCwwUzcuMjczLDAuMjk3LDcsMC41NTUgIEwwLjU1LDdDMC4yMzgsNy4zMjUsMCw3LjU2MiwwLDhjMCwwLjU2MywwLjQzMiwxLDEsMWgxdjZjMCwwLjU1LDAuNDUsMSwxLDFoM3YtNWMwLTAuNTUsMC40NS0xLDEtMWgyYzAuNTUsMCwxLDAuNDUsMSwxdjVoMyAgYzAuNTUsMCwxLTAuNDUsMS0xVjloMWMwLjU2OCwwLDEtMC40MzcsMS0xQzE2LDcuNTYyLDE1Ljc2Miw3LjMyNSwxNS40NSw3eiIvPjwvc3ZnPg==">
                    </a>
                </div>
            </div>

            <!--SLIDE NAV-->
            <button style="color: black" class="navbar-toggler navbar-burger" type="button" data-toggle="collapse-main"
                    data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/explore" data-scroll="true" style="color: #000000;">Explore</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup" data-scroll="true"
                       style="color: #000000;">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login" data-scroll="true"
                       style="color: #000000;">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- FIRST SECTION -->

    <div class="wrapper">
        <div class="login">
            <div class="filter"></div>
            <div class="container">
                <div id="box" class="row">
                    <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
                        <div class="card card-register">
                            <h4 class="card-title" style="text-align: center">Welcome</h4>
                            <form  action="/login" method="POST" class="register-form">
                                <input type="email" class="form-control no-border" placeholder="Email" required>
                                <br></br>
                                <input type="password" class="form-control no-border" placeholder="Password" required>
                                <br></br>
                                <button class="btn back btn-block btn-round">Login</button>
                            </form>
                            <br></br>
                            <div class="forgot">
                                <a href="#" id="forgot" class="btn btn-link btn-danger">Forgot password?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- FOOTER -->

    <footer class="footer section-dark">
        <div class="footer-copyright">
            <div class="footer-bar">
                <h6> © 2017  Atlas-Guide.me </h6>
                <a href="#" class="btn btn-just-icon btn-twitter" style="border-radius: 50%; border-style: solid; border-width: 2px; color: deepskyblue; background-color: transparent; border-color: #c0c0c0; height: 40px; width: 40px;padding: 8px"><i class="fa fa-twitter"></i></a>
                <a href="#" class="btn btn-just-icon btn-facebook" style="border-radius: 50%; border-style: solid; border-width: 2px; height: 40px; width: 40px;padding: 8px; color: #0B67E7; background-color: transparent;border-color: #c0c0c0;"><i class="fa fa-facebook"></i></a>
                <a href="#" class="btn btn-just-icon btn-instagram" style="border-radius: 50%; border-style: solid; border-width: 2px; height: 40px; width: 40px;padding: 8px ;color:#893dc2;background-color: transparent;border-color: #c0c0c0;"><i class="fa fa-instagram"></i></a>

            </div>
        </div>
    </footer>
</div>
