<div class="container">
    <form action="/" method="POST" encType="multipart/form-data">
        <input type="text" name="first" class="form-control no-border" placeholder="First Name">
        <input type="text" name="last" class="form-control no-border" placeholder="Last Name">
        <input type="text" name="email" class="form-control no-border" placeholder="Email">
        <input type="text" name="phoneNumber" class="form-control no-border" placeholder="phoneNumber">
        <input type="file" name="profilePicture" />
        <input type="text" name="bio" class="form-control no-border" placeholder="bio">
        <input type='submit' value="Update User Profile"/>
    </form>
</div>