<div>
    <div>
        <form action="/charge" method="POST">
          <script
            src="https://checkout.stripe.com/checkout.js"
            class="stripe-button"
            data-key="pk_test_h7r9aMiH8cudzWGBMxqPNIcT"
            data-amount="30000"
            data-name="Atlas Guide"
            data-description="Atlas Guide Tours"
            data-image="/img/marketplace.png"
            data-locale="auto">
          </script>
          <!-- <script>
              $document.getElementByClassName('stripe-button-el')[0]
              .style.display = "none";
          </script> -->
          <!-- <button type="submit" class="btn btn-outline-dark text-white btn-lng">Buy Now</button> -->
        </form>
    </div>

</div>
