<div style="overflow-x: hidden">
    <!--NAVBAR -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-warning nav-down" color-on-scroll="500">
        <div class="container-fluid">
            <div class="navbar-translate">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">
                        <img class="house" alt="Brand" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGhlaWdodD0iMTZweCIgaWQ9IkxheWVyXzEiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDE2IDE2OyIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMTYgMTYiIHdpZHRoPSIxNnB4IiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48cGF0aCBkPSJNMTUuNDUsN0wxNCw1LjU1MVYyYzAtMC41NS0wLjQ1LTEtMS0xaC0xYy0wLjU1LDAtMSwwLjQ1LTEsMXYwLjU1M0w5LDAuNTU1QzguNzI3LDAuMjk3LDguNDc3LDAsOCwwUzcuMjczLDAuMjk3LDcsMC41NTUgIEwwLjU1LDdDMC4yMzgsNy4zMjUsMCw3LjU2MiwwLDhjMCwwLjU2MywwLjQzMiwxLDEsMWgxdjZjMCwwLjU1LDAuNDUsMSwxLDFoM3YtNWMwLTAuNTUsMC40NS0xLDEtMWgyYzAuNTUsMCwxLDAuNDUsMSwxdjVoMyAgYzAuNTUsMCwxLTAuNDUsMS0xVjloMWMwLjU2OCwwLDEtMC40MzcsMS0xQzE2LDcuNTYyLDE1Ljc2Miw3LjMyNSwxNS40NSw3eiIvPjwvc3ZnPg==">
                    </a>
                    </div>
                </div>

                <!--SLIDE NAV-->
                <button style="color: black" class="navbar-toggler navbar-burger" type="button" data-toggle="collapse-main" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/explore" data-scroll="true" style="color: #000000;">Explore</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/itinerary/new" data-scroll="true" style="color: #000000;">Itinerary</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout" data-scroll="true" style="color: #000000;">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- First Section -->
    <div class="section-2">
        <div class="container">
            <div class="row" style="margin-top: 113px;">
                <br></br>
                <div class="col-md-8 offset-md-2 text-center">
                    <h4 class="title">Restaurants</h4>
                    <h2 class="description">“To awaken alone in a strange town is one of the pleasantest sensations in the world.”</h2>
                    <br/>
                </div>
            </div>
            <div class="row">
                <div id="colum" class="col-md-4">
                    <div id="tour-cards" class="card card-shadow card-tour" data-background="image" style="background-image: url('https://static.pexels.com/photos/696218/pexels-photo-696218.jpeg')">
                        <div id="description" class="card-block">
                            <h4 class="card-places">Spruce Restaurant</h4>
                            <div class="card-icon">
                                <i id="ball" class="nc-icon nc-map-big"></i>
                                <!-- <h6> 8 seats </h6>
                         <p> $300 </p> -->
                            </div>
                            <p class="card-description" style="font-size: 16px;">Spruce welcomes you into a warm and inviting 'neighborhood' restaurant that feels sophisticated yet relaxed, and comfortable. Enjoy a glass of Champagne; unwind and dine in our spacious bar; experience the pleasure and richness of our formal dining room lined with dark brunette mohair for a multi-coursed meal.</p>

                            <div class="card-footer">
                                <a href="http://www.sprucesf.com/" class="btn btn-link btn-neutral">
                                <i class="fa fa-book" aria-hidden="true"></i> More info
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="colum" class="col-md-4">
                    <div id="tour-cards" class="card card-shadow card-tour" data-background="image" style="background-image: url('https://static.pexels.com/photos/225228/pexels-photo-225228.jpeg')">
                        <div id="description" class="card-block">
                            <h4 class="card-places">Boulevard</h4>
                            <div class="card-icon">
                                <i id="ball" class="nc-icon nc-pin-3"></i>
                                <!-- <h6> 4 seats </h6>
                         <p> $270 </p> -->
                            </div>
                            <p class="card-description" style="font-size: 16px;">Boulevard restaurant has been hailed as one of the best restaurants in San Francisco. Created in partnership with designer Pat Kuleto, the elegant, yet warm and welcoming interior of Boulevard is the essence of the Belle Époque style. It is a glorious setting for Chef Nancy Oakes hearty, flavorful, beautiful cuisine.</p>

                            <div class="card-footer">
                                <a href="http://www.boulevardrestaurant.com/" class="btn btn-link btn-neutral">
                                <i class="fa fa-book" aria-hidden="true"></i> More info
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="colum" class="col-md-4">
                    <div id="tour-cards" class="card card-shadow card-tour" data-background="image" style="background-image: url('https://static.pexels.com/photos/61106/pexels-photo-61106.jpeg')">
                        <div id="description" class="card-block">
                            <h4 class="card-places">The Villiage Pub</h4>
                            <div class="card-icon">
                                <i id="ball" class="nc-icon nc-globe"></i>
                                <!-- <h6> 8 seats </h6>
                         <p> $500 </p> -->
                            </div>
                            <p class="card-description" style="font-size: 16px;">This beloved Woodside landmark brings destination dining to Silicon Valley. The Village Pub is rich with a sense of heritage and authenticity. The warm and elegant ambiance is the perfect backdrop for Chef John Madriaga's Contemporary American cuisine with Classic French roots.</p>

                            <div class="card-footer">
                                <a href="http://www.thevillagepub.net/" class="btn btn-link btn-neutral">
                                <i class="fa fa-book" aria-hidden="true"></i> More info
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-2">
            <div class="container">
                <div class="row">
                    <!-- <div class="col-md-8 offset-md-2 text-center">
                        <h4 class="title"></h4>
                        <h2 class="description">“Stuff your eyes with wonder, live as if you’d drop dead in ten seconds. See the world. It’s more fantastic than any dream made or paid for in factories.” </h2>
                        <br/>
                    </div> -->
                </div>
                <div class="row">
                    <div id="colum" class="col-md-4">
                        <div id="tour-cards" class="card card-shadow card-tour" data-background="image" style="background-image: url('https://static.pexels.com/photos/34650/pexels-photo.jpg')">
                            <div id="description" class="card-block">
                                <h4 class="card-places">Esin Restaurant and Bar</h4>
                                <div class="card-icon">
                                    <i id="ball" class="nc-icon nc-air-baloon"></i>
                                    <!-- <h6> 8 seats </h6>
                                    <p> $300 </p> -->
                                </div>
                                <p class="card-description" style="font-size: 16px;">Esin has been a neighborhood jewel since opening in 1998. The name Esin is not only the name of one of the owners but also means “inspiration”. The food is the passion of Chef & Owners Curtis and Esin deCarion.</p>

                                <div class="card-footer">
                                    <a href="www.esinrestaurant.com/" class="btn btn-link btn-neutral">
                                            <i class="fa fa-book" aria-hidden="true"></i> More info
                                        </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="colum" class="col-md-4">
                        <div id="tour-cards" class="card card-shadow card-tour" data-background="image" style="background-image: url('https://static.pexels.com/photos/51115/restaurant-wine-glasses-served-51115.jpeg')">
                            <div id="description" class="card-block">
                                <h4 class="card-places">Ad Hoc</h4>
                                <div class="card-icon">
                                    <i id="ball" class="nc-icon nc-sun-fog-29"></i>
                                    <!-- <h6> 4 seats </h6>
                                    <p> $270 </p> -->
                                </div>
                                <p class="card-description" style="font-size: 16px;">Was originally intended to be a temporary restaurant, but due to its loyal following, it was decided that it must be a permanent fixture in Yountville. Ad Hoc serves a prix fixe, 4-course family-style menu, which changes daily.</p>

                                <div class="card-footer">
                                    <a href="https://www.thomaskeller.com/adhoc" class="btn btn-link btn-neutral">
                                            <i class="fa fa-book" aria-hidden="true"></i> More info
                                        </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="colum" class="col-md-4">
                        <div id="tour-cards" class="card card-shadow card-tour" data-background="image" style="background-image: url('https://static.pexels.com/photos/332090/pexels-photo-332090.jpeg')">
                            <div id="description" class="card-block">
                                <h4 class="card-places">Farmstead at Long Meadow Ranch</h4>
                                <div class="card-icon">
                                    <i id="ball" class="nc-icon nc-image"></i>
                                    <!-- <h6> 8 seats </h6>
                                    <p> $500 </p> -->
                                </div>
                                <p class="card-description" style="font-size: 16px;">Farmstead at Long Meadow Ranch showcases the seasonal cook. The ingredients in the Farmstead kitchen are foraged from local sources and feature Long Meadow Ranch's all organic.</p>

                                <div class="card-footer">
                                    <a href="www.longmeadowranch.com/eat-drink/restaurant" class="btn btn-link btn-neutral">
                                            <i class="fa fa-book" aria-hidden="true"></i> More info
                                        </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-2 section-gray">
            <div class="container">
                <div class="row">
                    <!-- <div class="col-md-8 offset-md-2 text-center">
                        <h4 class="title">Explore other cities</h4>
                        <h2 class="description">Live with no excuses and travel with no regrets. The world is a book full of adventures, never stop exploring.</h2>
                        <br/>
                    </div> -->
                </div>
                <div class="row">
                    <div id="colum" class="col-md-4">
                        <div id="tour-cards" class="card card-shadow card-tour" data-background="image" style="background-image: url('https://static.pexels.com/photos/66640/pexels-photo-66640.jpeg')">
                            <div id="description" class="card-block">
                                <h4 class="card-places">Firefly Restaurant</h4>
                                <div class="card-icon">
                                    <i id="ball" class="nc-icon nc-map-big"></i>
                                    <!-- <h6> 8 seats </h6>
                                             <p> $300 </p> -->
                                </div>
                                <p class="card-description" style="font-size: 16px;">They serve food that, more often than not, accesses that part of our deepest soul where genuine expression can flow forth. The restaurant have always tried to give our food and service our best selves, as honest and vulnerable as we can muster.</p>

                                <div class="card-footer">
                                    <a href="www.fireflysf.com/" class="btn btn-link btn-neutral">
                                                    <i class="fa fa-book" aria-hidden="true"></i> More info
                                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="colum" class="col-md-4">
                        <div id="tour-cards" class="card card-shadow card-tour" data-background="image" style="background-image: url('https://static.pexels.com/photos/6216/water-drink-glass-drinking.jpg')">
                            <div id="description" class="card-block">
                                <h4 class="card-places">Town</h4>
                                <div class="card-icon">
                                    <i id="ball" class="nc-icon nc-pin-3"></i>
                                    <!-- <h6> 4 seats </h6>
                                             <p> $270 </p> -->
                                </div>
                                <p class="card-description" style="font-size: 16px;">Town opened in March of 2006. Located in the heart of downtown San Carlos. Town features hand cut steaks & chops, the freshest seafood, local organic produce, hand crafted cocktails, and a wine list with a focus on California, Washington and Oregon wines.</p>

                                <div class="card-footer">
                                    <a href="www.townsc.com/" class="btn btn-link btn-neutral">
                                                    <i class="fa fa-book" aria-hidden="true"></i> More info
                                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="colum" class="col-md-4">
                        <div id="tour-cards" class="card card-shadow card-tour" data-background="image" style="background-image: url('https://static.pexels.com/photos/225448/pexels-photo-225448.jpeg')">
                            <div id="description" class="card-block">
                                <h4 class="card-places">Balboa Cafe</h4>
                                <div class="card-icon">
                                    <i id="ball" class="nc-icon nc-globe"></i>
                                    <!-- <h6> 8 seats </h6>
                                             <p> $500 </p> -->
                                </div>
                                <p class="card-description" style="font-size: 16px;">The elegant bar and interior decor remain relatively untouched, retaining the magic of times gone by, while the menu offers both treasured favorites and savory new dishes. On any given day -- for lunch, brunch, cocktails, or dinner couples, singles.</p>

                                <div class="card-footer">
                                    <a href="www.balboacafe.com/san-francisco/" class="btn btn-link btn-neutral">
                                                    <i class="fa fa-book" aria-hidden="true"></i> More info
                                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- FOOTER -->

        <footer class="footer section-dark">
            <div class="footer-copyright">
                <div class="footer-bar">
                    <h6> © 2017  Atlas-Guide.me </h6>
                    <a href="#" class="btn btn-just-icon btn-twitter" style="border-radius: 50%; border-style: solid; border-width: 2px; color: deepskyblue; background-color: transparent; border-color: #c0c0c0; height: 40px; width: 40px;padding: 8px"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="btn btn-just-icon btn-facebook" style="border-radius: 50%; border-style: solid; border-width: 2px; height: 40px; width: 40px;padding: 8px; color: #0B67E7; background-color: transparent;border-color: #c0c0c0;"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="btn btn-just-icon btn-instagram" style="border-radius: 50%; border-style: solid; border-width: 2px; height: 40px; width: 40px;padding: 8px ;color:#893dc2;background-color: transparent;border-color: #c0c0c0;"><i class="fa fa-instagram"></i></a>

                </div>
            </div>
        </footer>
    </div>
