<form action="/signup" method="POST">
    <div class="container">
        <p>Together we succeed.</p> 
        <label><b>First</b></label>
        <input type="text" placeholder="Enter first name" name="first" required>

        <label><b>Last</b></label>
        <input type="text" placeholder="Enter Last name" name="last" required>

        <label><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <label><b>Password</b></label>
        <input type="text" placeholder="Enter Password" name="password" required>

        <button type="submit">Login</button>
    </div>
</form>
