  <div id="map">loading map...</div>

    <script>
      var map;
      navigator.geolocation.getCurrentPosition((position)=>{
            console.log(position.coords.latitude)
            console.log(position.coords.longitude)
            charge(position.coords.latitude, position.coords.longitude)

      })

      function charge(curlat, curlong) {

        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: curlat, lng: curlong},
          zoom: 15
        });
      }

    </script>
    <script src="{{mapLocation}}"
    async defer></script>
