<div style="overflow-x: hidden">
    <!--NAVBAR -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-warning nav-down" color-on-scroll="500">
        <div class="container-fluid">
            <div class="navbar-translate">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">
                        <img class="house" alt="Brand" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGhlaWdodD0iMTZweCIgaWQ9IkxheWVyXzEiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDE2IDE2OyIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMTYgMTYiIHdpZHRoPSIxNnB4IiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48cGF0aCBkPSJNMTUuNDUsN0wxNCw1LjU1MVYyYzAtMC41NS0wLjQ1LTEtMS0xaC0xYy0wLjU1LDAtMSwwLjQ1LTEsMXYwLjU1M0w5LDAuNTU1QzguNzI3LDAuMjk3LDguNDc3LDAsOCwwUzcuMjczLDAuMjk3LDcsMC41NTUgIEwwLjU1LDdDMC4yMzgsNy4zMjUsMCw3LjU2MiwwLDhjMCwwLjU2MywwLjQzMiwxLDEsMWgxdjZjMCwwLjU1LDAuNDUsMSwxLDFoM3YtNWMwLTAuNTUsMC40NS0xLDEtMWgyYzAuNTUsMCwxLDAuNDUsMSwxdjVoMyAgYzAuNTUsMCwxLTAuNDUsMS0xVjloMWMwLjU2OCwwLDEtMC40MzcsMS0xQzE2LDcuNTYyLDE1Ljc2Miw3LjMyNSwxNS40NSw3eiIvPjwvc3ZnPg==">
                    </a>
                    </div>
                </div>

                <!--SLIDE NAV-->
                <button style="color: black" class="navbar-toggler navbar-burger" type="button" data-toggle="collapse-main" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/explore" data-scroll="true" style="color: #000000;">Explore</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/itinerary/new" data-scroll="true" style="color: #000000;">Itinerary</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout" data-scroll="true" style="color: #000000;">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- First Section -->
    <div class="section-2">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center">
                    <h4 class="title">Explore other cities</h4>
                    <h2 class="description">Live with no excuses and travel with no regrets. The world is a book full of adventures, never stop exploring.</h2>
                    <br/>
                </div>
            </div>
            <div class="row">
                <div id="colum" class="col-md-4">
                    <div id="tour-cards" class="card card-shadow card-tour" data-background="image" style="background-image: url('img/san.jpeg')">
                        <div id="description" class="card-block">
                            <h4 class="card-places">San Francisco</h4>
                            <div class="card-icon">
                                <i id="ball" class="nc-icon nc-map-big"></i>
                                <!-- <h6> 8 seats </h6>
                         <p> $300 </p> -->
                            </div>
                            <p class="card-description" style="font-size: 16px;">Acrimson bridge, cable cars, a sparkling bay, and streets lined with elegant Victorian homes — San Francisco is undeniably one of the world’s great cities.</p>

                            <div class="card-footer">
                                <a href="/buynow" class="btn btn-link btn-neutral">
                                <i class="fa fa-book" aria-hidden="true"></i> More info
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="colum" class="col-md-4">
                    <div id="tour-cards" class="card card-shadow card-tour" data-background="image" style="background-image: url('https://static.pexels.com/photos/534757/pexels-photo-534757.jpeg')">
                        <div id="description" class="card-block">
                            <h4 class="card-places">New York</h4>
                            <div class="card-icon">
                                <i id="ball" class="nc-icon nc-pin-3"></i>
                                <!-- <h6> 4 seats </h6>
                         <p> $270 </p> -->
                            </div>
                            <p class="card-description" style="font-size: 16px;">New York is the most ethnically diverse, religiously varied, famously congested, and, in the eyes of many, the most attractive urban centre in the country.</p>

                            <div class="card-footer">
                                <a href="/buynow" class="btn btn-link btn-neutral">
                                <i class="fa fa-book" aria-hidden="true"></i> More info
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="colum" class="col-md-4">
                    <div id="tour-cards" class="card card-shadow card-tour" data-background="image" style="background-image: url('https://static.pexels.com/photos/61106/pexels-photo-61106.jpeg')">
                        <div id="description" class="card-block">
                            <h4 class="card-places">Miami</h4>
                            <div class="card-icon">
                                <i id="ball" class="nc-icon nc-globe"></i>
                                <!-- <h6> 8 seats </h6>
                         <p> $500 </p> -->
                            </div>
                            <p class="card-description" style="font-size: 16px;">One of the most popular vacation spots. Though destinations the Miami area offers multiple enticements for everyone: The trendy nightlife of South Beach, Art Deco district and others.</p>

                            <div class="card-footer">
                                <a href="/buynow" class="btn btn-link btn-neutral">
                                <i class="fa fa-book" aria-hidden="true"></i> More info
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2 text-center">
                        <h4 class="title">Your tours will be much easier</h4>
                        <h2 class="description">Live with no excuses and travel with no regrets. The world is a book full of adventures, never stop exploring.</h2>
                        <br/>
                    </div>
                </div>
                <div class="row">
                    <div id="colum" class="col-md-4">
                        <div id="tour-cards" class="card card-shadow card-tour" data-background="image" style="background-image: url('img/wine.jpg')">
                            <div id="description" class="card-block">
                                <h4 class="card-places">Napa Valley</h4>
                                <div class="card-icon">
                                    <i id="ball" class="nc-icon nc-air-baloon"></i>
                                    <h6> 8 seats </h6>
                                    <p> $300 </p>
                                </div>
                                <p class="card-description" style="font-size: 16px;"> Over 400 wineries, one of the world’s premier viticultural regions and famous for its prized Cabernet Sauvignon. </p>

                                <div class="card-footer">
                                    <a href="/buynow" class="btn btn-link btn-neutral">
                                            <i class="fa fa-book" aria-hidden="true"></i> More info
                                        </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="colum" class="col-md-4">
                        <div id="tour-cards" class="card card-shadow card-tour" data-background="image" style="background-image: url('img/bay.jpeg')">
                            <div id="description" class="card-block">
                                <h4 class="card-places">Peninsula of San Francisco</h4>
                                <div class="card-icon">
                                    <i id="ball" class="nc-icon nc-sun-fog-29"></i>
                                    <h6> 4 seats </h6>
                                    <p> $270 </p>
                                </div>
                                <p class="card-description" style="font-size: 16px;">Separates the Bay area from the Pacific Ocean. Enjoy a stunning view of the rolling hills surrounding the bay, salt ponds and marshes.</p>

                                <div class="card-footer">
                                    <a href="/buynow" class="btn btn-link btn-neutral">
                                            <i class="fa fa-book" aria-hidden="true"></i> More info
                                        </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="colum" class="col-md-4">
                        <div id="tour-cards" class="card card-shadow card-tour" data-background="image" style="background-image: url('img/lake.jpg')">
                            <div id="description" class="card-block">
                                <h4 class="card-places">Lake Tahoe</h4>
                                <div class="card-icon">
                                    <i id="ball" class="nc-icon nc-image"></i>
                                    <h6> 8 seats </h6>
                                    <p> $500 </p>
                                </div>
                                <p class="card-description" style="font-size: 16px;">Exceedingly clear waters range in blues from aqua to cerulean to cobalt. Jagged granite mountains, some snowcapped, even at summer’s height.</p>

                                <div class="card-footer">
                                    <a href="/buynow" class="btn btn-link btn-neutral">
                                            <i class="fa fa-book" aria-hidden="true"></i> More info
                                        </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2 text-center">
                        <h4 class="title">Explore other cities</h4>
                        <h2 class="description">Live with no excuses and travel with no regrets. The world is a book full of adventures, never stop exploring.</h2>
                        <br/>
                    </div>
                </div>
                <div class="row">
                    <div id="colum" class="col-md-4">
                        <div id="tour-cards" class="card card-shadow card-tour" data-background="image" style="background-image: url('img/san.jpeg')">
                            <div id="description" class="card-block">
                                <h4 class="card-places">San Francisco</h4>
                                <div class="card-icon">
                                    <i id="ball" class="nc-icon nc-map-big"></i>
                                    <!-- <h6> 8 seats </h6>
                                             <p> $300 </p> -->
                                </div>
                                <p class="card-description" style="font-size: 16px;">Acrimson bridge, cable cars, a sparkling bay, and streets lined with elegant Victorian homes — San Francisco is undeniably one of the world’s great cities.</p>

                                <div class="card-footer">
                                    <a href="/buynow" class="btn btn-link btn-neutral">
                                                    <i class="fa fa-book" aria-hidden="true"></i> More info
                                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="colum" class="col-md-4">
                        <div id="tour-cards" class="card card-shadow card-tour" data-background="image" style="background-image: url('https://static.pexels.com/photos/534757/pexels-photo-534757.jpeg')">
                            <div id="description" class="card-block">
                                <h4 class="card-places">New York</h4>
                                <div class="card-icon">
                                    <i id="ball" class="nc-icon nc-pin-3"></i>
                                    <!-- <h6> 4 seats </h6>
                                             <p> $270 </p> -->
                                </div>
                                <p class="card-description" style="font-size: 16px;">New York is the most ethnically diverse, religiously varied, famously congested, and, in the eyes of many, the most attractive urban centre in the country.</p>

                                <div class="card-footer">
                                    <a href="/buynow" class="btn btn-link btn-neutral">
                                                    <i class="fa fa-book" aria-hidden="true"></i> More info
                                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="colum" class="col-md-4">
                        <div id="tour-cards" class="card card-shadow card-tour" data-background="image" style="background-image: url('https://static.pexels.com/photos/61106/pexels-photo-61106.jpeg')">
                            <div id="description" class="card-block">
                                <h4 class="card-places">Miami</h4>
                                <div class="card-icon">
                                    <i id="ball" class="nc-icon nc-globe"></i>
                                    <!-- <h6> 8 seats </h6>
                                             <p> $500 </p> -->
                                </div>
                                <p class="card-description" style="font-size: 16px;">One of the most popular vacation spots. Though destinations the Miami area offers multiple enticements for everyone: The trendy nightlife of South Beach, Art Deco district and others.</p>

                                <div class="card-footer">
                                    <a href="/buynow" class="btn btn-link btn-neutral">
                                                    <i class="fa fa-book" aria-hidden="true"></i> More info
                                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- FOOTER -->

        <footer class="footer section-dark">
            <div class="footer-copyright">
                <div class="footer-bar">
                    <h6> © 2017  Atlas-Guide.me </h6>
                    <a href="#" class="btn btn-just-icon btn-twitter" style="border-radius: 50%; border-style: solid; border-width: 2px; color: deepskyblue; background-color: transparent; border-color: #c0c0c0; height: 40px; width: 40px;padding: 8px"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="btn btn-just-icon btn-facebook" style="border-radius: 50%; border-style: solid; border-width: 2px; height: 40px; width: 40px;padding: 8px; color: #0B67E7; background-color: transparent;border-color: #c0c0c0;"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="btn btn-just-icon btn-instagram" style="border-radius: 50%; border-style: solid; border-width: 2px; height: 40px; width: 40px;padding: 8px ;color:#893dc2;background-color: transparent;border-color: #c0c0c0;"><i class="fa fa-instagram"></i></a>

                </div>
            </div>
        </footer>
    </div>


    <!-- <div>
    <div>
        <form action="/tours" method="POST" class="register-form">

             <input type="text" name="tourName"class="form-control" placeholder="Tour Name" required>

            <input type="text" name="description" class="form-control" placeholder="Description" required>

            <input type="text" name="tourPoints" class="form-control" placeholder="Tour Points" required>

            <input type="date" name="startsAt" class="form-control" placeholder="Start Time" required>

            <input type="date" name="endsAt" class="form-control" placeholder="End Time" required>

            <input type="date" name="restStartsAt" class="form-control" placeholder="Stop" required>

            <input type="date" name="images" class="form-control" placeholder="Start Time" required>

            <button type="submit" class="btn btn-block btn-round">Submit</button>
        </form>
    </div>
</div> -->
