
<div>
    <a href="/itinerary/new">Create new Itinerary</a>
    <form action="/tourism" method="POST" class="register-form">

         <input type="text" name="tourName"class="form-control" placeholder="Tour Name" required>

        <input type="text" name="last" class="form-control" placeholder="Last Name" required>

        <input type="email" name="email" class="form-control" placeholder="Email" required>

        <input type="password" name="password" class="form-control" placeholder="Password" required>

        <button id="register" type="submit" class="btn btn-block btn-round">Register</button>
    </form>
</div>
