
    <a href="/itinerary/new">Create new Itinerary</a>
<div>
    <form action="/tourism" method="POST" class="register-form">

         <input type="text" name="tourName"class="form-control" placeholder="Tour Name" required>

        <input type="text" name="description" class="form-control" placeholder="Description" required>

        <input type="text" name="tourPoints" class="form-control" placeholder="Tour Points" required>

        <input type="date" name="startsAt" class="form-control" placeholder="Start Time" required>

        <input type="date" name="endsAt" class="form-control" placeholder="End Time" required>

        <input type="date" name="restStartsAt" class="form-control" placeholder="Stop" required>

        <!-- <input type="date" name="images" class="form-control" placeholder="Start Time" required> -->

        <button type="submit" class="btn btn-block btn-round">Submit</button>
    </form>
</div>
