*{
    font-family: Helvetica;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
    width: 100%;
    color: #fff;
    background-color: #ddd;
    display:flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }

#map>p{
    width: 100%;
    text-align: center;
    padding: 0px;
    margin-bottom: -80px;
    margin-top: -20px;
}

/* NAVBAR */
.house {
    height: 28px;
    weight: 28px;
}
.nav-link {
    color: 	#000000;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
    font-size: 17px;
    max-width: 100%;
    height: auto;
}
.navbar {
    position: fixed;
    background: rgba(255, 255, 255, 0.3);
    max-width: 100%;
    height: auto;
}

.collapse navbar-collapse {
    max-width: 100%;
    height: auto;
}

@mixin transition($settings) {
  -webkit-transition: $settings;
  -moz-transition: $settings;
  -ms-transition: $settings;
  -o-transition: $settings;
  transition: $settings;
}
.container {
    position: relative;
}

.logo {
    position: relative;
    max-width: 100%;
    height: auto;
}

.arrow {
    height: 64px;
    weight: 64px;
    position: absolute;
    max-width: 100%;
    height: auto;
    background: url(https://www.nxworld.net/example/css-scroll-down-button/bg05.jpg) center center / cover no-repeat;
}
.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;

}
#arrow a {
  padding-top: 70px;
  max-width: 100%;
  height: auto;
}

#arrow a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 64px;
  height: 64px;
  margin-left: -12px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

h1 {
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;
    font-size: 25px;
    -webkit-font-smoothing: antialiased;
    height: 23px;
    margin-top: 4px;
    text-align: center;
    max-width: 100%;
    height: auto;

}
h2 {
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    height: 23px;
    margin-top: 4px;
    text-align: center;
    max-width: 100%;
    height: auto;

}

/* padded section */
.pad-section {
  padding: 50px 0;
}
.pad-section img {
  width: 100%;
}
/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* additional sections */
#services {
  background-color: #FFFFFF;
  color: #000000;
}
#services .glyphicon {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-family: 'PT Sans', sans-serif;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}

h4, p {
    font-family: 'PT Sans', sans-serif;
    margin-top: 24px;
}

#services .icons {
    height: 140px;
    width: 140px;
}

h6, p {
    font-family: 'PT Sans', sans-serif;
    margin-top: 24px;
    text-align: center;
}
.features-5 .info {
    color: #FFFFFF;
}

.info {
    padding: 30px 0 30px;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}
.features-5 .container {
    border-top: 0;
    border-left: 0;

}

.btn-link {
    color: #000000;
}

#icon > i{
    width: 270px;
    height: 71px;
    box-sizing: inherit;
}

.nc-bus-front-12::before{
    font-size: 45px;
}

.nc-time-alarm::before {
    font-size: 45px;
}

.nc-pin-3::before {
    font-size: 45px;
}

.nc-globe {
    font-size: 45px;
}

.nc-icon {

    font-size: 45px;
}

#glix {
    top: 50px;
    margin-bottom: 60px;
}

#lav {
    top: 134px;
}
.iphone-container img {
    max-width: 100%
    padding-top: 40px;
}
img {
    vertical-align: middle;
}

.features-3 {
    padding-top: 28px;
}

.phone {
    width: 200px;
    height: 576.969px;
}

.title {
    text-align: center;
}
.nc-vectort::before {
    font-size: 45px;
    content: "\ea61";
}

.nc-icon{
    width: 150px;
    height: 52px;
}

@media (min-width: 768px)
.offset-md-1 {
    margin-left: 8.333333%;
}

@media (min-width: 576px)
.col-sm-5 {
    -webkit-box-flex: 0;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}
.nc-icon ::before {
    display: inline-block;
    font: normal normal normal 14px/1 'nucleo-icons';
    font-size: inherit;
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}
.footer-bar {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    text-align: center;
    padding-top: 19px;
    padding-bottom: 10px;
}
