*{
    font-family: Helvetica;
}

html, body {
    height: 100%;
    margin: 0px;
    padding: 0;
}

#map {
    position: relative;
    top:0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
    color: #fff;
    background-color: #ddd;
    display:flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }

#map>p{
    width: 100%;
    text-align: center;
    padding: 0px;
    margin-bottom: -80px;
    margin-top: -20px;
}
.venue-detail{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.95);
    max-width: 700px;
    width: 90vw;
    max-height: 100vh;
    height: 400px;
    z-index: 1000;
    border: 1px solid #efefef;
    border-radius: 10px;
    box-shadow:5px 10px 20px #dedede;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.map-container{
    width: 100px;
    height: 100px;
}

.results-row{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.card-title{
    margin-top: -3px;
}

.venue-result{
    display: flex;
    justify-content: center;
    margin: 0px 10px 10px 10px;
    padding: 10px;
    border: 1px solid #efefef;
    box-shadow:3px 3px 8px #dedede;  
}

.ui-close{
    position: absolute;
    left: 10px;
    top: 5px;
}
.fa-times{
    font-size: 25px;
}

.itinerary-add-container{
    margin-top: 5px;
}

/* NAVBAR */
.house {
    height: 28px;
    weight: 28px;
}
.nav-link {
    color: 	#000000;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
    font-size: 17px;
    max-width: 100%;
    height: auto;
}
.navbar {
    position: fixed;
    background: rgba(255, 255, 255, 0.3);
    max-width: 100%;
    height: auto;
}

.collapse navbar-collapse {
    max-width: 100%;
    height: auto;
}

.container {
    position: relative;
}
/* FIRST SECTION */
.logo {
    position: relative;
    max-width: 100%;
    height: auto;
}

.arrow {
    height: 64px;
    weight: 64px;
    position: absolute;
    max-width: 100%;
    height: auto;
}
.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;

}
#arrow a {
  padding-top: 70px;
  max-width: 100%;
  height: auto;
}

#arrow a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 64px;
  height: 64px;
  margin-left: -12px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

h1 {
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;
    font-size: 25px;
    -webkit-font-smoothing: antialiased;
    height: 23px;
    margin-top: 4px;
    text-align: center;
    max-width: 100%;
    height: auto;

}
h2 {
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    height: 23px;
    margin-top: 4px;
    text-align: center;
    max-width: 100%;
    height: auto;

}



/* MAP */

#map>i{
    font-size: 55px;
}

/* padded section */
.pad-section {
  padding: 50px 0;
} 
.pad-section img {
  width: 100%;
}
/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* SECOND SECTION */
#services {
  background-color: #FFFFFF;
  color: #000000;
}

#services .glyphicon {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-family: 'PT Sans', sans-serif;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}

h4, p {
    font-family: 'PT Sans', sans-serif;
    margin-top: 24px;
}

#services .icons {
    height: 140px;
    width: 140px;
}

h6, p {
    font-family: 'PT Sans', sans-serif;
    margin-top: 24px;
    text-align: center;
}
/* THIRD SECTION */

.features-5 .info {
    color: #FFFFFF;
}

.info {
    padding: 30px 0 30px;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}
.features-5 .container {
    border-top: 0;
    border-left: 0;

}

#icon > i{
    width: 270px;
    height: 71px;
    box-sizing: inherit;
}

.nc-bus-front-12::before{
    font-size: 45px;
}

.nc-time-alarm::before {
    font-size: 45px;
}

.nc-pin-3::before {
    font-size: 45px;
}

.nc-globe {
    font-size: 45px;
}

.nc-icon {

    font-size: 45px;
}

/* FORTH SECTION */
#glix {
    top: 50px;
    margin-bottom: 60px;
}

#lav {
    top: 134px;
}
.iphone-container img {
    max-width: 100%;
    padding-top: 40px;
}
img {
    vertical-align: middle;
}

.features-3 {
    padding-top: 28px;
}

.phone {
    width: 200px;
    height: 576.969px;
}

.title {
    text-align: center;
}
.nc-vectort::before {
    font-size: 45px;
    content: "\ea61";
}

.nc-icon{
    width: 150px;
    height: 52px;
}

@media (min-width: 768px)
.offset-md-1 {
    margin-left: 8.333333%;
}

@media (min-width: 576px)
.col-sm-5 {
    -webkit-box-flex: 0;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}
.nc-icon ::before {
    display: inline-block;
    font: normal normal normal 14px/1 'nucleo-icons';
    font-size: inherit;
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}

.info {
    height: 275px;
}

/* FOOTER */

.footer-bar {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    text-align: center;
    padding-top: 19px;
    padding-bottom: 10px;

}

/* LOGIN */

.login {
    background-image: url('https://static.pexels.com/photos/692064/pexels-photo-692064.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    height: 1100px;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#box {
    margin-right: -15px;
    margin-left: -15px;
}

.card.card-register {
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
    border-radius: 10px;
    max-width: 350px;
    margin: 20px 0 70px;
    min-height: 400px;
    padding: 30px;
    top: 232px;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: 0px;
}

#forgot {
    background-color: trasparent;
    border-radius: 5px;
    border: 0px;
    margin-left: 60px;
}

.btn-link {
    color: 	#708090;

}

.back {
    background-color: 	#B0C4DE	;
    font-family: 'PT Sans', sans-serif;
}

/* SIGNUP */

#signup {
    background-image: url('/img/sf-view.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    height: 1100px;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.form-control {
    margin-bottom: 10px;
}

.intro {
    color: #000;
    height: 275px;
    width: 469px;
    padding-top: 192px;

}

#information {
    text-align: center;
}
/* Icons */
.fa-umbrella::before {
    font-size: 45px;
}

.fa-map-signs {
    font-size: 45px;
}
.fa-user-secret {
    font-size: 45px;
}
.page3 {

    box-sizing: inherit;
    width: 263px;
    height: 49px;
    padding-left: 223px;
}

 #information > p {
     font-size: 17px;
 }

#sf-view {
    left: 400px;
}

#register {
    font-family: 'PT Sans', sans-serif;
    background-color: green;
    color: #fff;
}

.card-title {
    font-family: 'PT Sans', sans-serif;
}

.or {
    font-family: 'PT Sans', sans-serif;
}

.link {
    font-family: 'PT Sans', sans-serif;
}

.btn-facebook {
    border-radius: 50%;
     border-style: solid;
     border-width: 2px;
      height: 40px;
      width: 40px;
      padding: 8px;
      color: #0B67E7;
      background-color: transparent;
      border-color: #fff;
}

.btn-google {
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    height: 40px;
    width: 40px;
    padding: 8px ;
    color: #3cba54;
    background-color: transparent;
    border-color: #fff;
}

.btn-twitter {
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    color: deepskyblue;
    background-color: transparent;
    border-color: #fff;
    height: 40px;
    width: 40px;
    padding: 8px;
}
.social {
    width: 134px;
    margin-left: 81px;
}

input {
    margin-top: 10px;
}

/* EXPLORE */

#explore {
    background-image: url('https://static.pexels.com/photos/697244/pexels-photo-697244.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    height: 910px;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#world {
    top: 547px;
    left: auto
    right: 5px;
}

.blog-4 {
    margin-top:102px;
}

#sf {
    border-radius: 12px;
    weight: 540px;
    height: 360px;
}

.btn-tr {
    border-radius: 30px;
    font-weight: 60px;
}

#advanture {
    box-sizing: border-box;
    border-width: 2px;
    font-size: 12px;
    font-weight: 700;
    padding:  0.5rem 18px;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
}

#drink {
    border-radius: 12px;
    weight: 540px;
    height: 360px;
}

#down a {
  padding-top: 70px;
  max-width: 100%;
  height: auto;
}

#down a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 64px;
  height: 64px;
  margin-left: -12px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s inf
}

.down a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

#restaurant {
    border-radius: 12px;
    weight: 540px;
    height: 360px;
}

#tour {
    border-radius: 12px;
    weight: 540px;
    height: 360px;
}

.section1 {
    margin-bottom: 27px;
}

.section2 {
    height: 491px;
    padding-bottom: 53px;

}

#tour-cards {
    position: relative;
    z-index: 2;
    min-height: 280px;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 440px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 12px;
    color: #fff;

}

.card[data-background="image"] {
    background-position: center, center;
    background-size: cover;
    text-align: center;
}

.card-tour {
    -webkit-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
    -moz-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
    -o-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
    -ms-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
    transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
}


 .card-shadow[data-background="image"]::after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.56);
    border-radius: 12px;


}

#colum {
    width: 350px;
    height: 376;
    padding-left: 15px;
    padding-right: 15px;
}

.card[data-background="image"] .card-block {
    position: relative;
    z-index: 2;
    min-height: 280px;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 440px;
    margin: 0 auto;
    text-align: center;

}

.btn {
    font-size: 12px;
    box-sizing: border-box;
    border-width: 2px;
    font-weight: 600;
    line-height: 1.75;
    text-transform: uppercase;
    transition: all 150ms linear;
    color: #FFFFFF;
}

.card[data-background="image"] .card-icon i, .card[data-background="color"] .card-icon i, .card[data-color] .card-icon i {
    color: #FFFFFF;
    border: 2px solid rgba(255, 255, 255, 1.3);

}

.card .card-icon i {
    font-size: 40px;
    width: 105px;
    border-radius: 50%;
    height: 105px;
    line-height: 105px;

}

#ball {
    display: inline-block;
    text-transform: none;
    -webkit-font-smoothing: antialiased
}
